<div class="col-md-2"></div>

<div class="col-md-8">
<%= form_for(@gist) do |f| %>
  <% if @gist.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading"><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</div>
      <div class="panel-body">
        <ul>
          <% @gist.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :description, class: 'form-control', placeholder: 'description' %>
  </div>
  <div class="form-group">
    <%= f.text_area :content, :rows => 20, class: 'form-control' %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :private %> Private
    </label>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success pull-right' %>
  </div>
<% end %>
</div>

<div class="col-md-2"></div>