<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <% @gists.each do |gist| %>
      <div class="gist">
        <div class="gist-meta">
          <div class="row">
            <div class="col-md-1">
              <%= gravatar_img(gist.user.email) %>
            </div>
            <div class="col-md-11">
              <div class="pull-right">
                <a href="<%= gist_path(gist) %>#comments" class="comment-counter">
                <span class="glyphicon glyphicon-comment"></span> <%= gist.comments.length %> comments</a>
              </div>

              <div class="gist-description"><%= gist.description %></div>
              <%= time_ago_in_words(gist.created_at) %> ago by <%= gist.user.email %>
            </div>
          </div>
        </div>

        <a href="<%= gist_path(gist) %>" class="gist">
          <pre><code><%= gist.content.split("\n").take(10).join("\n") %></code></pre>
        </a>
      </div>
    <% end %>
  </div>

  <div class="col-md-2"></div>
<div class="row">